
<div *ngIf="cOMPANY_DETAILS">
    <h2><span>COMPANY DETAILS</span> {{cOMPANY_DETAILS.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{cOMPANY_DETAILS.name}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{cOMPANY_DETAILS.location}}</span>
        </dd>
        <dt><span>Date Opened</span></dt>
        <dd>
            <span>{{cOMPANY_DETAILS.dateOpened | date:'medium'}}</span>
        </dd>
        <dt><span>Licence No</span></dt>
        <dd>
            <span>{{cOMPANY_DETAILS.licenceNo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company-details/'+ cOMPANY_DETAILS.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
