
<div>
    <h2><span>Suppliers</span> {{vm.suppliers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.suppliers.code}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.suppliers.name}}</span>
        </dd>
        <dt><span>Mobile No</span></dt>
        <dd>
            <span>{{vm.suppliers.mobileNo}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{vm.suppliers.location}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.suppliers.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="suppliers-detail.edit({id:vm.suppliers.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
