
<div>
    <h2><span>Goods Returned To Supplier</span> {{vm.goodsReturnedToSupplier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Batch No</span></dt>
        <dd>
            <span>{{vm.goodsReturnedToSupplier.batchNo}}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{vm.goodsReturnedToSupplier.quantity}}</span>
        </dd>
        <dt><span>Batch Supplier</span></dt>
        <dd>
            <a ui-sref="suppliers-detail({id:vm.goodsReturnedToSupplier.batchSupplier.id})">{{vm.goodsReturnedToSupplier.batchSupplier.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="goods-returned-to-supplier-detail.edit({id:vm.goodsReturnedToSupplier.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
