<div>
    <h2>Goods Returned To Suppliers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="goods-returned-to-supplier.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Goods Returned To Supplier
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batchNo"><span>Batch No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span>Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batchSupplier.id"><span>Batch Supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="goodsReturnedToSupplier in vm.goodsReturnedToSuppliers track by goodsReturnedToSupplier.id">
                    <td><a ui-sref="goods-returned-to-supplier-detail({id:goodsReturnedToSupplier.id})">{{goodsReturnedToSupplier.id}}</a></td>
                    <td>{{goodsReturnedToSupplier.batchNo}}</td>
                    <td>{{goodsReturnedToSupplier.quantity}}</td>
                    <td>
                        <a ui-sref="suppliers-detail({id:goodsReturnedToSupplier.batchSupplier.id})">{{goodsReturnedToSupplier.batchSupplier.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="goods-returned-to-supplier-detail({id:goodsReturnedToSupplier.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="goods-returned-to-supplier.edit({id:goodsReturnedToSupplier.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="goods-returned-to-supplier.delete({id:goodsReturnedToSupplier.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
