<div>
    <h2>COMPANY DETAILS</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="company-details.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new COMPANY DETAILS
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Location</span></th>
                    <th><span>Date Opened</span></th>
                    <th><span>Licence No</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cOMPANY_DETAILS in vm.cOMPANY_DETAILS track by cOMPANY_DETAILS.id">
                    <td><a ui-sref="company-details-detail({id:cOMPANY_DETAILS.id})">{{cOMPANY_DETAILS.id}}</a></td>
                    <td>{{cOMPANY_DETAILS.name}}</td>
                    <td>{{cOMPANY_DETAILS.location}}</td>
                    <td>{{cOMPANY_DETAILS.dateOpened | date:'medium'}}</td>
                    <td>{{cOMPANY_DETAILS.licenceNo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="company-details-detail({id:cOMPANY_DETAILS.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company-details.edit({id:cOMPANY_DETAILS.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="company-details.delete({id:cOMPANY_DETAILS.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
