
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCOMPANY_DETAILSLabel">Create or edit a COMPANY DETAILS</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cOMPANY_DETAILS.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cOMPANY_DETAILS.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.cOMPANY_DETAILS.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.cOMPANY_DETAILS.location"
                    required/>
            <div ng-show="editForm.location.$invalid">
                <p class="help-block"
                    ng-show="editForm.location.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateOpened">Date Opened</label>
                <div class="input-group">
                    <input id="field_dateOpened" type="text" class="form-control" name="dateOpened" datetime-picker="{{dateformat}}" ng-model="vm.cOMPANY_DETAILS.dateOpened" is-open="vm.datePickerOpenStatus.dateOpened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateOpened.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateOpened.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateOpened.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_licenceNo">Licence No</label>
            <input type="text" class="form-control" name="licenceNo" id="field_licenceNo"
                    ng-model="vm.cOMPANY_DETAILS.licenceNo"
                    required/>
            <div ng-show="editForm.licenceNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.licenceNo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
