
<div>
    <h2><span>COMPANY DETAILS</span> {{vm.cOMPANY_DETAILS.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.cOMPANY_DETAILS.name}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{vm.cOMPANY_DETAILS.location}}</span>
        </dd>
        <dt><span>Date Opened</span></dt>
        <dd>
            <span>{{vm.cOMPANY_DETAILS.dateOpened | date:'medium'}}</span>
        </dd>
        <dt><span>Licence No</span></dt>
        <dd>
            <span>{{vm.cOMPANY_DETAILS.licenceNo}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="company-details-detail.edit({id:vm.cOMPANY_DETAILS.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
