
<div *ngIf="saleTransactions">
    <h2><span>Sale Transactions</span> {{saleTransactions.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{saleTransactions.quantity}}</span>
        </dd>
        <dt><span>Unit Price</span></dt>
        <dd>
            <span>{{saleTransactions.unitPrice}}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
            <div *ngIf="saleTransactions.product">
                <a [routerLink]="['/inventory', saleTransactions.product?.id]">{{saleTransactions.product?.productId}}</a>
            </div>
        </dd>
        <dt><span>Sales</span></dt>
        <dd>
            <div *ngIf="saleTransactions.sales">
                <a [routerLink]="['/sales', saleTransactions.sales?.id]">{{saleTransactions.sales?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sale-transactions/'+ saleTransactions.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
