<div>
    <h2>Supplier Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="supplier-products.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Supplier Products
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="buyingPrice"><span>Buying Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="standardBuyingPrice"><span>Standard Buying Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="retailPrice"><span>Retail Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryLeadTime"><span>Delivery Lead Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstItemDeliveryDate"><span>First Item Delivery Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minimumReorderLevel"><span>Minimum Reorder Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxReorderLevel"><span>Max Reorder Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="product.id"><span>Product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplier.id"><span>Supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="supplierProducts in vm.supplierProducts track by supplierProducts.id">
                    <td><a ui-sref="supplier-products-detail({id:supplierProducts.id})">{{supplierProducts.id}}</a></td>
                    <td>{{supplierProducts.buyingPrice}}</td>
                    <td>{{supplierProducts.standardBuyingPrice}}</td>
                    <td>{{supplierProducts.retailPrice}}</td>
                    <td>{{supplierProducts.deliveryLeadTime}}</td>
                        <td>{{supplierProducts.firstItemDeliveryDate | date:'mediumDate'}}</td>
                    <td>{{supplierProducts.minimumReorderLevel}}</td>
                    <td>{{supplierProducts.maxReorderLevel}}</td>
                    <td>
                        <a ui-sref="products-detail({id:supplierProducts.product.id})">{{supplierProducts.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="suppliers-detail({id:supplierProducts.supplier.id})">{{supplierProducts.supplier.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="supplier-products-detail({id:supplierProducts.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="supplier-products.edit({id:supplierProducts.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="supplier-products.delete({id:supplierProducts.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
