
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySupplierProductsLabel">Create or edit a Supplier Products</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.supplierProducts.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.supplierProducts.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_buyingPrice">Buying Price</label>
            <input type="number" class="form-control" name="buyingPrice" id="field_buyingPrice"
                    ng-model="vm.supplierProducts.buyingPrice"
                    required/>
            <div ng-show="editForm.buyingPrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.buyingPrice.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.buyingPrice.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_standardBuyingPrice">Standard Buying Price</label>
            <input type="number" class="form-control" name="standardBuyingPrice" id="field_standardBuyingPrice"
                    ng-model="vm.supplierProducts.standardBuyingPrice"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_retailPrice">Retail Price</label>
            <input type="number" class="form-control" name="retailPrice" id="field_retailPrice"
                    ng-model="vm.supplierProducts.retailPrice"
                    required/>
            <div ng-show="editForm.retailPrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.retailPrice.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.retailPrice.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_deliveryLeadTime">Delivery Lead Time</label>
            <input type="number" class="form-control" name="deliveryLeadTime" id="field_deliveryLeadTime"
                    ng-model="vm.supplierProducts.deliveryLeadTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstItemDeliveryDate">First Item Delivery Date</label>
                <div class="input-group">
                    <input id="field_firstItemDeliveryDate" type="text" class="form-control" name="firstItemDeliveryDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.supplierProducts.firstItemDeliveryDate" is-open="vm.datePickerOpenStatus.firstItemDeliveryDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('firstItemDeliveryDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_minimumReorderLevel">Minimum Reorder Level</label>
            <input type="number" class="form-control" name="minimumReorderLevel" id="field_minimumReorderLevel"
                    ng-model="vm.supplierProducts.minimumReorderLevel"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_maxReorderLevel">Max Reorder Level</label>
            <input type="number" class="form-control" name="maxReorderLevel" id="field_maxReorderLevel"
                    ng-model="vm.supplierProducts.maxReorderLevel"
                    />
        </div>

        <div class="form-group">
            <label for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" ng-model="vm.supplierProducts.product" ng-options="products as products.id for products in vm.products | orderBy:'id' track by products.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_supplier">Supplier</label>
            <select class="form-control" id="field_supplier" name="supplier" ng-model="vm.supplierProducts.supplier" ng-options="suppliers as suppliers.id for suppliers in vm.suppliers | orderBy:'id' track by suppliers.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
