
<div>
    <h2><span>Supplier Products</span> {{vm.supplierProducts.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Buying Price</span></dt>
        <dd>
            <span>{{vm.supplierProducts.buyingPrice}}</span>
        </dd>
        <dt><span>Standard Buying Price</span></dt>
        <dd>
            <span>{{vm.supplierProducts.standardBuyingPrice}}</span>
        </dd>
        <dt><span>Retail Price</span></dt>
        <dd>
            <span>{{vm.supplierProducts.retailPrice}}</span>
        </dd>
        <dt><span>Delivery Lead Time</span></dt>
        <dd>
            <span>{{vm.supplierProducts.deliveryLeadTime}}</span>
        </dd>
        <dt><span>First Item Delivery Date</span></dt>
        <dd>
            <span>{{vm.supplierProducts.firstItemDeliveryDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Minimum Reorder Level</span></dt>
        <dd>
            <span>{{vm.supplierProducts.minimumReorderLevel}}</span>
        </dd>
        <dt><span>Max Reorder Level</span></dt>
        <dd>
            <span>{{vm.supplierProducts.maxReorderLevel}}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
            <a ui-sref="products-detail({id:vm.supplierProducts.product.id})">{{vm.supplierProducts.product.id}}</a>
        </dd>
        <dt><span>Supplier</span></dt>
        <dd>
            <a ui-sref="suppliers-detail({id:vm.supplierProducts.supplier.id})">{{vm.supplierProducts.supplier.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="supplier-products-detail.edit({id:vm.supplierProducts.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
