<div>
    <h2>Sub Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sub-categories.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Sub Categories
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Short Desciption</span></th>
                    <th><span>Description</span></th>
                    <th><span>Category</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subCategories in vm.subCategories track by subCategories.id">
                    <td><a ui-sref="sub-categories-detail({id:subCategories.id})">{{subCategories.id}}</a></td>
                    <td>{{subCategories.name}}</td>
                    <td>{{subCategories.shortDesciption}}</td>
                    <td>{{subCategories.description}}</td>
                    <td>
                        <a ui-sref="product-categories-detail({id:subCategories.category.id})">{{subCategories.category.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sub-categories-detail({id:subCategories.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-categories.edit({id:subCategories.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-categories.delete({id:subCategories.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
