
<div>
    <h2><span>Sub Categories</span> {{vm.subCategories.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.subCategories.name}}</span>
        </dd>
        <dt><span>Short Desciption</span></dt>
        <dd>
            <span>{{vm.subCategories.shortDesciption}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.subCategories.description}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <a ui-sref="product-categories-detail({id:vm.subCategories.category.id})">{{vm.subCategories.category.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-categories-detail.edit({id:vm.subCategories.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
