
<div>
    <h2><span>Product Categories</span> {{vm.productCategories.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.productCategories.code}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.productCategories.name}}</span>
        </dd>
        <dt><span>Sht Description</span></dt>
        <dd>
            <span>{{vm.productCategories.shtDescription}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.productCategories.description}}</span>
        </dd>
        <dt><span>Date Created</span></dt>
        <dd>
            <span>{{vm.productCategories.dateCreated | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="product-categories-detail.edit({id:vm.productCategories.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
