
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductsLabel">Create or edit a Products</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.products.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.products.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.products.code"
                    required/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.products.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shtDescription">Sht Description</label>
            <input type="text" class="form-control" name="shtDescription" id="field_shtDescription"
                    ng-model="vm.products.shtDescription"
                    required/>
            <div ng-show="editForm.shtDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.shtDescription.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.products.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reorderLevel">Reorder Level</label>
            <input type="number" class="form-control" name="reorderLevel" id="field_reorderLevel"
                    ng-model="vm.products.reorderLevel"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reorderQuantity">Reorder Quantity</label>
            <input type="number" class="form-control" name="reorderQuantity" id="field_reorderQuantity"
                    ng-model="vm.products.reorderQuantity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_averageMonthlyUsage">Average Monthly Usage</label>
            <input type="number" class="form-control" name="averageMonthlyUsage" id="field_averageMonthlyUsage"
                    ng-model="vm.products.averageMonthlyUsage"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quantitySuppliedToDate">Quantity Supplied To Date</label>
            <input type="number" class="form-control" name="quantitySuppliedToDate" id="field_quantitySuppliedToDate"
                    ng-model="vm.products.quantitySuppliedToDate"
                    />
        </div>

        <div class="form-group">
            <label for="field_subCategory">Sub Category</label>
            <select class="form-control" id="field_subCategory" name="subCategory" ng-model="vm.products.subCategory" ng-options="subCategories as subCategories.id for subCategories in vm.subcategories | orderBy:'id' track by subCategories.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_brand">Brand</label>
            <select class="form-control" id="field_brand" name="brand" ng-model="vm.products.brand" ng-options="brands as brands.id for brands in vm.brands | orderBy:'id' track by brands.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
