<div>
    <h2>Products</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="products.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Products
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shtDescription"><span>Sht Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reorderLevel"><span>Reorder Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reorderQuantity"><span>Reorder Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="averageMonthlyUsage"><span>Average Monthly Usage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantitySuppliedToDate"><span>Quantity Supplied To Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subCategory.id"><span>Sub Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="brand.id"><span>Brand</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="products in vm.products track by products.id">
                    <td><a ui-sref="products-detail({id:products.id})">{{products.id}}</a></td>
                    <td>{{products.code}}</td>
                    <td>{{products.name}}</td>
                    <td>{{products.shtDescription}}</td>
                    <td>{{products.description}}</td>
                    <td>{{products.reorderLevel}}</td>
                    <td>{{products.reorderQuantity}}</td>
                    <td>{{products.averageMonthlyUsage}}</td>
                    <td>{{products.quantitySuppliedToDate}}</td>
                    <td>
                        <a ui-sref="sub-categories-detail({id:products.subCategory.id})">{{products.subCategory.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="brands-detail({id:products.brand.id})">{{products.brand.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="products-detail({id:products.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="products.edit({id:products.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="products.delete({id:products.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
