
<div>
    <h2><span>Products</span> {{vm.products.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.products.code}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.products.name}}</span>
        </dd>
        <dt><span>Sht Description</span></dt>
        <dd>
            <span>{{vm.products.shtDescription}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.products.description}}</span>
        </dd>
        <dt><span>Reorder Level</span></dt>
        <dd>
            <span>{{vm.products.reorderLevel}}</span>
        </dd>
        <dt><span>Reorder Quantity</span></dt>
        <dd>
            <span>{{vm.products.reorderQuantity}}</span>
        </dd>
        <dt><span>Average Monthly Usage</span></dt>
        <dd>
            <span>{{vm.products.averageMonthlyUsage}}</span>
        </dd>
        <dt><span>Quantity Supplied To Date</span></dt>
        <dd>
            <span>{{vm.products.quantitySuppliedToDate}}</span>
        </dd>
        <dt><span>Sub Category</span></dt>
        <dd>
            <a ui-sref="sub-categories-detail({id:vm.products.subCategory.id})">{{vm.products.subCategory.id}}</a>
        </dd>
        <dt><span>Brand</span></dt>
        <dd>
            <a ui-sref="brands-detail({id:vm.products.brand.id})">{{vm.products.brand.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="products-detail.edit({id:vm.products.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
