<div>
    <h2>Employees</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="employees.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Employees
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>First Name</span></th>
                    <th><span>Last Name</span></th>
                    <th><span>Id No</span></th>
                    <th><span>Dob</span></th>
                    <th><span>Age</span></th>
                    <th><span>Gender</span></th>
                    <th><span>Estate</span></th>
                    <th><span>Apartment No</span></th>
                    <th><span>Email</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employees in vm.employees track by employees.id">
                    <td><a ui-sref="employees-detail({id:employees.id})">{{employees.id}}</a></td>
                    <td>{{employees.firstName}}</td>
                    <td>{{employees.lastName}}</td>
                    <td>{{employees.idNo}}</td>
                        <td>{{employees.dob | date:'mediumDate'}}</td>
                    <td>{{employees.age}}</td>
                    <td>{{employees.gender}}</td>
                    <td>{{employees.estate}}</td>
                    <td>{{employees.apartmentNo}}</td>
                    <td>{{employees.email}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="employees-detail({id:employees.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employees.edit({id:employees.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employees.delete({id:employees.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
