
<div>
    <h2><span>Employees</span> {{vm.employees.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{vm.employees.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{vm.employees.lastName}}</span>
        </dd>
        <dt><span>Id No</span></dt>
        <dd>
            <span>{{vm.employees.idNo}}</span>
        </dd>
        <dt><span>Dob</span></dt>
        <dd>
            <span>{{vm.employees.dob | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Age</span></dt>
        <dd>
            <span>{{vm.employees.age}}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
            <span>{{vm.employees.gender}}</span>
        </dd>
        <dt><span>Estate</span></dt>
        <dd>
            <span>{{vm.employees.estate}}</span>
        </dd>
        <dt><span>Apartment No</span></dt>
        <dd>
            <span>{{vm.employees.apartmentNo}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.employees.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="employees-detail.edit({id:vm.employees.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
