<div>
    <h2>
        <span>Inventories</span>
        <button class="btn btn-primary float-right jh-create-entity create-inventory" [routerLink]="['/', { outlets: { popup: ['inventory-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Inventory
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="inventories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="batchNo"><span>Batch No</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="barCodeNo"><span>Bar Code No</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="soldToDate"><span>Sold To Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="availableItems"><span>Available Items</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitSellingPrice"><span>Unit Selling Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitBuyingPrice"><span>Unit Buying Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="products.name"><span>Products</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let inventory of inventories ;trackBy: trackId">
                <td><a [routerLink]="['../inventory', inventory.id ]">{{inventory.id}}</a></td>
                <td>{{inventory.batchNo}}</td>
                <td>{{inventory.barCodeNo}}</td>
                <td>{{inventory.quantity}}</td>
                <td>{{inventory.soldToDate}}</td>
                <td>{{inventory.availableItems}}</td>
                <td>{{inventory.unitSellingPrice}}</td>
                <td>{{inventory.unitBuyingPrice}}</td>
                <td>
                    <div *ngIf="inventory.products">
                        <a [routerLink]="['../products', inventory.products?.id ]" >{{inventory.products?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../inventory', inventory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inventory/'+ inventory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inventory/'+ inventory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
