
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGoodsReceivedFromSupplierLabel">Create or edit a Goods Received From Supplier</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.goodsReceivedFromSupplier.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.goodsReceivedFromSupplier.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_batchNo">Batch No</label>
            <input type="text" class="form-control" name="batchNo" id="field_batchNo"
                    ng-model="vm.goodsReceivedFromSupplier.batchNo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.goodsReceivedFromSupplier.quantity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_unitPrice">Unit Price</label>
            <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                    ng-model="vm.goodsReceivedFromSupplier.unitPrice"
                    />
        </div>

        <div class="form-group">
            <label for="field_batchProduct">Batch Product</label>
            <select class="form-control" id="field_batchProduct" name="batchProduct" ng-model="vm.goodsReceivedFromSupplier.batchProduct" ng-options="suppliers as suppliers.id for suppliers in vm.batchproducts | orderBy:'id' track by suppliers.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
