<div>
    <h2>Goods Received From Suppliers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="goods-received-from-supplier.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Goods Received From Supplier
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batchNo"><span>Batch No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span>Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unitPrice"><span>Unit Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="batchProduct.id"><span>Batch Product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="goodsReceivedFromSupplier in vm.goodsReceivedFromSuppliers track by goodsReceivedFromSupplier.id">
                    <td><a ui-sref="goods-received-from-supplier-detail({id:goodsReceivedFromSupplier.id})">{{goodsReceivedFromSupplier.id}}</a></td>
                    <td>{{goodsReceivedFromSupplier.batchNo}}</td>
                    <td>{{goodsReceivedFromSupplier.quantity}}</td>
                    <td>{{goodsReceivedFromSupplier.unitPrice}}</td>
                    <td>
                        <a ui-sref="suppliers-detail({id:goodsReceivedFromSupplier.batchProduct.id})">{{goodsReceivedFromSupplier.batchProduct.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="goods-received-from-supplier-detail({id:goodsReceivedFromSupplier.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="goods-received-from-supplier.edit({id:goodsReceivedFromSupplier.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="goods-received-from-supplier.delete({id:goodsReceivedFromSupplier.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
