
<div>
    <h2><span>Goods Received From Supplier</span> {{vm.goodsReceivedFromSupplier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Batch No</span></dt>
        <dd>
            <span>{{vm.goodsReceivedFromSupplier.batchNo}}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{vm.goodsReceivedFromSupplier.quantity}}</span>
        </dd>
        <dt><span>Unit Price</span></dt>
        <dd>
            <span>{{vm.goodsReceivedFromSupplier.unitPrice}}</span>
        </dd>
        <dt><span>Batch Product</span></dt>
        <dd>
            <a ui-sref="suppliers-detail({id:vm.goodsReceivedFromSupplier.batchProduct.id})">{{vm.goodsReceivedFromSupplier.batchProduct.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="goods-received-from-supplier-detail.edit({id:vm.goodsReceivedFromSupplier.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
