<div>
    <h2>Payment Points</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="payment-points.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Payment Points
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Preferred Payment Option</span></th>
                    <th><span>Bank Name</span></th>
                    <th><span>Account No</span></th>
                    <th><span>Account Name</span></th>
                    <th><span>Pref Payment</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="paymentPoints in vm.paymentPoints track by paymentPoints.id">
                    <td><a ui-sref="payment-points-detail({id:paymentPoints.id})">{{paymentPoints.id}}</a></td>
                    <td>{{paymentPoints.preferredPaymentOption}}</td>
                    <td>{{paymentPoints.bankName}}</td>
                    <td>{{paymentPoints.accountNo}}</td>
                    <td>{{paymentPoints.accountName}}</td>
                    <td>
                        <a ui-sref="employees-detail({id:paymentPoints.prefPayment.id})">{{paymentPoints.prefPayment.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="payment-points-detail({id:paymentPoints.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="payment-points.edit({id:paymentPoints.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="payment-points.delete({id:paymentPoints.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
