
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPaymentPointsLabel">Create or edit a Payment Points</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.paymentPoints.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.paymentPoints.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_preferredPaymentOption">Preferred Payment Option</label>
            <select class="form-control" name="preferredPaymentOption" ng-model="vm.paymentPoints.preferredPaymentOption" id="field_preferredPaymentOption" required>
                <option value="BANK">BANK</option>
                <option value="MPESA">MPESA</option>
                <option value="CASH">CASH</option>
                <option value="AIRTEL">AIRTEL</option>
            </select>
            <div ng-show="editForm.preferredPaymentOption.$invalid">
                <p class="help-block"
                    ng-show="editForm.preferredPaymentOption.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankName">Bank Name</label>
            <select class="form-control" name="bankName" ng-model="vm.paymentPoints.bankName" id="field_bankName" required>
                <option value="KCB">KCB</option>
                <option value="EQUITY">EQUITY</option>
                <option value="COOPERATIVE">COOPERATIVE</option>
                <option value="SAFARICOM">SAFARICOM</option>
                <option value="OTHER">OTHER</option>
            </select>
            <div ng-show="editForm.bankName.$invalid">
                <p class="help-block"
                    ng-show="editForm.bankName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accountNo">Account No</label>
            <input type="text" class="form-control" name="accountNo" id="field_accountNo"
                    ng-model="vm.paymentPoints.accountNo"
                    required/>
            <div ng-show="editForm.accountNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.accountNo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accountName">Account Name</label>
            <input type="text" class="form-control" name="accountName" id="field_accountName"
                    ng-model="vm.paymentPoints.accountName"
                    required/>
            <div ng-show="editForm.accountName.$invalid">
                <p class="help-block"
                    ng-show="editForm.accountName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_prefPayment">Pref Payment</label>
            <select class="form-control" id="field_prefPayment" name="prefPayment" ng-model="vm.paymentPoints.prefPayment" ng-options="employees as employees.id for employees in vm.prefpayments | orderBy:'id' track by employees.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
