
<div>
    <h2><span>Payment Points</span> {{vm.paymentPoints.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Preferred Payment Option</span></dt>
        <dd>
            <span>{{vm.paymentPoints.preferredPaymentOption}}</span>
        </dd>
        <dt><span>Bank Name</span></dt>
        <dd>
            <span>{{vm.paymentPoints.bankName}}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
            <span>{{vm.paymentPoints.accountNo}}</span>
        </dd>
        <dt><span>Account Name</span></dt>
        <dd>
            <span>{{vm.paymentPoints.accountName}}</span>
        </dd>
        <dt><span>Pref Payment</span></dt>
        <dd>
            <a ui-sref="employees-detail({id:vm.paymentPoints.prefPayment.id})">{{vm.paymentPoints.prefPayment.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="payment-points-detail.edit({id:vm.paymentPoints.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
