
<div>
    <h2><span>Brands</span> {{vm.brands.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.brands.name}}</span>
        </dd>
        <dt><span>Sht Desc</span></dt>
        <dd>
            <span>{{vm.brands.shtDesc}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.brands.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="brands-detail.edit({id:vm.brands.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
