<div>
    <h2>Brands</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="brands.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Brands
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Sht Desc</span></th>
                    <th><span>Description</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brands in vm.brands track by brands.id">
                    <td><a ui-sref="brands-detail({id:brands.id})">{{brands.id}}</a></td>
                    <td>{{brands.name}}</td>
                    <td>{{brands.shtDesc}}</td>
                    <td>{{brands.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="brands-detail({id:brands.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="brands.edit({id:brands.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="brands.delete({id:brands.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
