<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POS</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <!-- endinject -->
    <!-- endbuild -->
    <!-- placeholder link to load bootswatch themes, title holds the current applied theme name-->
<link rel="stylesheet" href="" id="bootswatch-css" title="Default">

    <!-- build:css content/css/main.css -->
    <link rel="stylesheet" href="content/css/main.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="manifest" href="manifest.webapp">
</head>
<body ng-app="posApp" ng-strict-di="">
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <page-ribbon></page-ribbon>
    <div ui-view="navbar" ng-cloak=""></div>
    <div class="container" style=" width: 1470px;">
        <div class="well" ui-view="content">
            <!-- Angular views -->
        </div>

        <div class="footer" ng-cloak="">
            <p data-translate="footer">This is your footer</p>
            <div ng-controller="BootswatchController as vm" id="bootswatch-theme-switcher" uib-dropdown="" class="dropup pull-right">
                    <a class="btn btn-default dropdown-toggle" uib-dropdown-toggle="">
                        <span class="glyphicon glyphicon-adjust"></span>
                        <span class="hidden-tablet" translate="bootswatch.themeSelector">Theme</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu="">
                        <li class="theme-link" ng-repeat="theme in vm.themes">
                            <a href="" jh-switch-theme="theme">{{theme.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <noscript>
        <h1>You must enable javascript to view this page.</h1>
    </noscript>
    <!-- uncomment this for adding service worker
        <script>
            if ('serviceWorker' in navigator) {
                 navigator.serviceWorker
                    .register('./sw.js')
                    .then(function() { console.log('Service Worker Registered'); });
            }
        </script>
    -->
    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->

    <!-- build:js app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/messageformat/messageformat.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js app/app.js  -->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/services/user/user.service.js"></script>
    <script src="app/services/profiles/profile.service.js"></script>
    <script src="app/services/profiles/page-ribbon.directive.js"></script>
    <script src="app/services/auth/register.service.js"></script>
    <script src="app/services/auth/principal.service.js"></script>
    <script src="app/services/auth/password-reset-init.service.js"></script>
    <script src="app/services/auth/password-reset-finish.service.js"></script>
    <script src="app/services/auth/password.service.js"></script>
    <script src="app/services/auth/has-authority.directive.js"></script>
    <script src="app/services/auth/has-any-authority.directive.js"></script>
    <script src="app/services/auth/auth.service.js"></script>
    <script src="app/services/auth/auth.jwt.service.js"></script>
    <script src="app/services/auth/activate.service.js"></script>
    <script src="app/services/auth/account.service.js"></script>
    <script src="app/layouts/navbar/navbar.controller.js"></script>
    <script src="app/layouts/error/error.state.js"></script>
    <script src="app/home/home.state.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/entities/suppliers/suppliers-dialog.controller.js"></script>
    <script src="app/entities/suppliers/suppliers-detail.controller.js"></script>
    <script src="app/entities/suppliers/suppliers-delete-dialog.controller.js"></script>
    <script src="app/entities/suppliers/suppliers.state.js"></script>
    <script src="app/entities/suppliers/suppliers.service.js"></script>
    <script src="app/entities/suppliers/suppliers.controller.js"></script>
    <script src="app/entities/supplier-products/supplier-products-dialog.controller.js"></script>
    <script src="app/entities/supplier-products/supplier-products-detail.controller.js"></script>
    <script src="app/entities/supplier-products/supplier-products-delete-dialog.controller.js"></script>
    <script src="app/entities/supplier-products/supplier-products.state.js"></script>
    <script src="app/entities/supplier-products/supplier-products.service.js"></script>
    <script src="app/entities/supplier-products/supplier-products.controller.js"></script>
    <script src="app/entities/sub-categories/sub-categories-dialog.controller.js"></script>
    <script src="app/entities/sub-categories/sub-categories-detail.controller.js"></script>
    <script src="app/entities/sub-categories/sub-categories-delete-dialog.controller.js"></script>
    <script src="app/entities/sub-categories/sub-categories.state.js"></script>
    <script src="app/entities/sub-categories/sub-categories.service.js"></script>
    <script src="app/entities/sub-categories/sub-categories.controller.js"></script>
    <script src="app/entities/products/products-dialog.controller.js"></script>
    <script src="app/entities/products/products-detail.controller.js"></script>
    <script src="app/entities/products/products-delete-dialog.controller.js"></script>
    <script src="app/entities/products/products.state.js"></script>
    <script src="app/entities/products/products.service.js"></script>
    <script src="app/entities/products/products.controller.js"></script>
    <script src="app/entities/product-categories/product-categories-dialog.controller.js"></script>
    <script src="app/entities/product-categories/product-categories-detail.controller.js"></script>
    <script src="app/entities/product-categories/product-categories-delete-dialog.controller.js"></script>
    <script src="app/entities/product-categories/product-categories.state.js"></script>
    <script src="app/entities/product-categories/product-categories.service.js"></script>
    <script src="app/entities/product-categories/product-categories.controller.js"></script>
    <script src="app/entities/payment-points/payment-points-dialog.controller.js"></script>
    <script src="app/entities/payment-points/payment-points-detail.controller.js"></script>
    <script src="app/entities/payment-points/payment-points-delete-dialog.controller.js"></script>
    <script src="app/entities/payment-points/payment-points.state.js"></script>
    <script src="app/entities/payment-points/payment-points.service.js"></script>
    <script src="app/entities/payment-points/payment-points.controller.js"></script>
    <script src="app/entities/goods-returned-to-supplier/goods-returned-to-supplier-dialog.controller.js"></script>
    <script src="app/entities/goods-returned-to-supplier/goods-returned-to-supplier-detail.controller.js"></script>
    <script src="app/entities/goods-returned-to-supplier/goods-returned-to-supplier-delete-dialog.controller.js"></script>
    <script src="app/entities/goods-returned-to-supplier/goods-returned-to-supplier.state.js"></script>
    <script src="app/entities/goods-returned-to-supplier/goods-returned-to-supplier.service.js"></script>
    <script src="app/entities/goods-returned-to-supplier/goods-returned-to-supplier.controller.js"></script>
    <script src="app/entities/goods-received-from-supplier/goods-received-from-supplier-dialog.controller.js"></script>
    <script src="app/entities/goods-received-from-supplier/goods-received-from-supplier-detail.controller.js"></script>
    <script src="app/entities/goods-received-from-supplier/goods-received-from-supplier-delete-dialog.controller.js"></script>
    <script src="app/entities/goods-received-from-supplier/goods-received-from-supplier.state.js"></script>
    <script src="app/entities/goods-received-from-supplier/goods-received-from-supplier.service.js"></script>
    <script src="app/entities/goods-received-from-supplier/goods-received-from-supplier.controller.js"></script>
    <script src="app/entities/entity.state.js"></script>
    <script src="app/entities/employees/employees-dialog.controller.js"></script>
    <script src="app/entities/employees/employees-detail.controller.js"></script>
    <script src="app/entities/employees/employees-delete-dialog.controller.js"></script>
    <script src="app/entities/employees/employees.state.js"></script>
    <script src="app/entities/employees/employees.service.js"></script>
    <script src="app/entities/employees/employees.controller.js"></script>
    <script src="app/entities/c-ompany-details/company-details-dialog.controller.js"></script>
    <script src="app/entities/c-ompany-details/company-details-detail.controller.js"></script>
    <script src="app/entities/c-ompany-details/company-details-delete-dialog.controller.js"></script>
    <script src="app/entities/c-ompany-details/company-details.state.js"></script>
    <script src="app/entities/c-ompany-details/company-details.service.js"></script>
    <script src="app/entities/c-ompany-details/company-details.controller.js"></script>
    <script src="app/entities/brands/brands-dialog.controller.js"></script>
    <script src="app/entities/brands/brands-detail.controller.js"></script>
    <script src="app/entities/brands/brands-delete-dialog.controller.js"></script>
    <script src="app/entities/brands/brands.state.js"></script>
    <script src="app/entities/brands/brands.service.js"></script>
    <script src="app/entities/brands/brands.controller.js"></script>
    <script src="app/components/util/truncate-words.filter.js"></script>
    <script src="app/components/util/truncate-characters.filter.js"></script>
    <script src="app/components/util/sort-by.directive.js"></script>
    <script src="app/components/util/sort.directive.js"></script>
    <script src="app/components/util/parse-links.service.js"></script>
    <script src="app/components/util/pagination-util.service.js"></script>
    <script src="app/components/util/jhi-item-count.directive.js"></script>
    <script src="app/components/util/date-util.service.js"></script>
    <script src="app/components/util/data-util.service.js"></script>
    <script src="app/components/util/capitalize.filter.js"></script>
    <script src="app/components/util/base64.service.js"></script>
    <script src="app/components/login/login.service.js"></script>
    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/interceptor/bootswatch.interceptor.js"></script>
    <script src="app/components/form/show-validation.directive.js"></script>
    <script src="app/components/form/pagination.constants.js"></script>
    <script src="app/components/form/minbytes.directive.js"></script>
    <script src="app/components/form/maxbytes.directive.js"></script>
    <script src="app/components/bootswatch/bootswatch.service.js"></script>
    <script src="app/components/bootswatch/bootswatch.directive.js"></script>
    <script src="app/components/bootswatch/bootswatch.controller.js"></script>
    <script src="app/components/alert/alert-error.directive.js"></script>
    <script src="app/components/alert/alert.service.js"></script>
    <script src="app/components/alert/alert.directive.js"></script>
    <script src="app/blocks/interceptor/notification.interceptor.js"></script>
    <script src="app/blocks/interceptor/errorhandler.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth-expired.interceptor.js"></script>
    <script src="app/blocks/interceptor/auth.interceptor.js"></script>
    <script src="app/blocks/handlers/state.handler.js"></script>
    <script src="app/blocks/config/uib-pagination.config.js"></script>
    <script src="app/blocks/config/uib-pager.config.js"></script>
    <script src="app/blocks/config/localstorage.config.js"></script>
    <script src="app/blocks/config/http.config.js"></script>
    <script src="app/blocks/config/compile.config.js"></script>
    <script src="app/blocks/config/alert.config.js"></script>
    <script src="app/app.state.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="app/admin/user-management/user-management.state.js"></script>
    <script src="app/admin/user-management/user-management.controller.js"></script>
    <script src="app/admin/metrics/metrics.state.js"></script>
    <script src="app/admin/metrics/metrics.service.js"></script>
    <script src="app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="app/admin/metrics/metrics.controller.js"></script>
    <script src="app/admin/logs/logs.state.js"></script>
    <script src="app/admin/logs/logs.service.js"></script>
    <script src="app/admin/logs/logs.controller.js"></script>
    <script src="app/admin/health/health.state.js"></script>
    <script src="app/admin/health/health.service.js"></script>
    <script src="app/admin/health/health.modal.controller.js"></script>
    <script src="app/admin/health/health.controller.js"></script>
    <script src="app/admin/docs/docs.state.js"></script>
    <script src="app/admin/configuration/configuration.state.js"></script>
    <script src="app/admin/configuration/configuration.service.js"></script>
    <script src="app/admin/configuration/configuration.controller.js"></script>
    <script src="app/admin/audits/audits.state.js"></script>
    <script src="app/admin/audits/audits.service.js"></script>
    <script src="app/admin/audits/audits.controller.js"></script>
    <script src="app/admin/admin.state.js"></script>
    <script src="app/account/settings/settings.state.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/reset/request/reset.request.state.js"></script>
    <script src="app/account/reset/request/reset.request.controller.js"></script>
    <script src="app/account/reset/finish/reset.finish.state.js"></script>
    <script src="app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="app/account/register/register.state.js"></script>
    <script src="app/account/register/register.controller.js"></script>
    <script src="app/account/password/password-strength-bar.directive.js"></script>
    <script src="app/account/password/password.state.js"></script>
    <script src="app/account/password/password.controller.js"></script>
    <script src="app/account/activate/activate.state.js"></script>
    <script src="app/account/activate/activate.controller.js"></script>
    <script src="app/account/account.state.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>
